* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    background-color: #1c1a1a;
    color: rgb(255, 255, 244);
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15%;
    border-bottom: 1px solid #2e2c2c;
    transition: all .4s ease;
}

header button:hover {
    transform: scale(0.9);
}

.logo img {
    width: 25%;
}

.navlist {
    display: flex;
}

.navlist a {
    font-size: 15px;
    font-weight: 400;
    margin: 0 15px;
    transition: all .4s ease;
}

.navlist a:hover {
    color: brown;
}

#menu-icons {
    font-size: 35px;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.btn {
    display: inline-block;
    padding: 3px 12px;
    background: #d20f0f;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 300;
    transition: all .4s ease;
    color: aliceblue;
    cursor: pointer;
    border: none;
}

section {
    padding: 160px 15% 120px;
    /* height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; */
}

.home {
    padding: 215px 15% 120px;
}

.home-text {
    background: #1f1f1f00;
    display: inline-flex;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 0px;
    height: 32px;
    padding: 0 5px;
    line-height: 100px;
    font-size: 25px;
    font-weight: 400;
}

.two {
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
}

.p1 {
    padding-bottom: 10px;
}

.home-text h1 {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3 {
    margin: 0 0 35px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1;
}

.social-iconss {
    width: 65px;
    background: #b40000;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: -3rem;

}

.social-iconss i {
    background: transparent;
    padding: 10px 10px;
    margin-left: 50px;
}

.social-iconss i:hover {
    transform: scale(0.9);
}

span {
    color: crimson;
}

.img-col {
    display: flex;
    /* flex-basis: 20%; */
    justify-content: right;
}

.img-col img {
    flex-basis: 40%;
    margin-top: -30rem;
    height: 40rem;
}

.btn1 {
    display: inline-block;
    padding: 8px 20px;
    background: #d20f0f;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    transition: all .4s ease;
    color: aliceblue;
    cursor: pointer;
    border: none;
}

.btn1:hover {
    transform: scale(0.9);
}

.btn2 {
    display: inline-block;
    padding: 8px 15px;
    background: #d20f0f;
    border-radius: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    transition: all .4s ease;
    color: aliceblue;
    cursor: pointer;
    border: none;
}

.btn2:hover {
    transform: scale(0.9);
}

/* .img-col{
    display: flex;
    background: #131313;

} */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.0rem;
    background: #212020;
}

.about-img {
    background: #212020;

}

.about-img img {
    max-width: 430px;
    height: 30rem;
    border-radius: 8px;
    background: #212020;
    width: 20rem;
}

/* .about-text{
    padding-left: -15px;
} */
.about-text {
    background: #212020;

}

.about-text h2 {
    font-size: 35px;
    line-height: 1.1;
    background: #212020;
}

.about-text h2 span {
    background: #212020;

}

.about-text h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    margin: 15px 0 30px;
    background: #212020;
}

.about-text p {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 3rem;
    background: #212020;
}

/* .services{
    display: ;
} */
.main-text {
    text-align: center;
    background: #131313;

}

.main-text p {
    font-size: 25px;
    margin-bottom: 15px;
    background: #131313;
}

.main-text h2 {
    font-size: 40px;
    line-height: 1;
    background: #131313;

}

.main-text h2 span {
    background: #131313;

}

.services {
    background: #131313;
}

.services-content {
    display: inline-flex;
    /* grid-template-columns: repeat(auto); */
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
    padding-left: 45px;
    background: #131313;
}

.box {
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .4s ease;
    background: #131313;
}

.icons i {
    font-size: 45px;
    margin-bottom: 20px;
    /* justify-content: center;
    align-content: center;
    display: flex; */
}

.icons {
    background: #131313;

}

.box h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    background: #131313;

}

.box p {
    font-size: 1rem;
    line-height: 1.1;
    margin-bottom: 25px;
}

.read {
    display: contents;
    background: #333333;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .4s ease;
    color: brown;
}

.read:hover {
    color: #d20f0f;
}

.box:hover {
    transition: all .4s ease;
}

.portfolio-text {
    text-align: center;
    background: #212020;
    margin-top: -5%;
}

.portfolio-text p {
    font-size: 25px;
}

.portfolio-text h2 {
    font-size: 40px;
}

.portfolio-content {
    display: grid;
    gap: 2.5rem;
}

.row {
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.row img {
    width: 25%;
    height: 35%;
    border-radius: 8px;
    margin: 4%;
}

.testimonials {
    background: #131313;
}

.testimonial-text {
    background: #131313;
    text-align: center;
    margin-top: -5%;
}

.testimonial-text p {
    font-size: 25px;
    background: #131313;
}

.testimonial-text h2 {
    font-size: 40px;
    background: #131313;
}

.testimonial-text span {
    background: #131313;

}

.testimonial-content {
    background: #131313;
    display: flex;
    gap: 2.5rem;
    margin: 5% 5%;
}

.testimonial-content .column {
    background: #131313;

}

.testimonial-content img {
    width: 100%;
}

.testimonial-content p {
    text-align: center;
    font-size: 15px;
    line-height: 1.5rem;
    background: #131313;
}

.testimonial-content h3 {
    text-align: center;
    font-size: 20px;
    margin: 4%;
    background: #131313;
}

.blog-text {
    text-align: center;
    background: #212020;
    margin-top: -5%;
}

.blog-text p {
    font-size: 25px;
}

.blog-text h2 {
    font-size: 40px;
}

.blog-content {
    display: flex;
    gap: 2.5rem;
    margin: 5% 5%;
}

.blog-content img {
    width: 100%;
    display: flex;
}

.blog-content p {
    text-align: left;
    font-size: 15px;
    line-height: 1.5rem;
    margin: 1rem;
}

.blog-content h3 {
    text-align: left;
    font-size: 20px;
    margin: 1rem;
}

/* .row1 a{
    margin: 1rem;
} */
.read2 {
    display: flex;
    background: #19191900;
    font-size: 14px;
    font-weight: 500;
    transition: all .4s ease;
    color: brown;
    margin: 1rem;
}

.contact {
    background: #131313;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 2.5rem;
}

.contact-text {
    background: #131313;
    /* text-align: center; */
    margin-top: -5%;
}

.contact-text p {
    font-size: 25px;
    background: #131313;
    text-align: center;
}

.contact-text h2 {
    font-size: 40px;
    background: #131313;
    text-align: center;
    margin: 1rem;

}

.contact-text span {
    background: #131313;
}

/* .contact-list a{
    text-align: left;
    margin: 1rem;
    background: #131313;

} */
.contact-list {
    background: #131313;
    margin: 3rem;
}

/* .contact-list form{
    background: #131313;
    text-align: center;
} */
.contact-list li {
    margin-bottom: 12px;
}

.contact-list a {
    display: block;
    font-size: 15px;
    transition: all .4s ease;
    /* margin: 1rem; */
    background: #131313;
    padding: 6px;
}

.contact-list a:hover {
    color: #b40000;
}

.social-icons {
    background: #141414;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons i {
    background: #b70404;
    padding: 10px 10px;
    margin-left: 50px;
}

.social-icons i:hover {
    transform: scale(0.9);
}

.social-icons a {
    background: #131313;
    margin-top: -25%;

}

.form {
    background: #131313;
    padding-left: 20%;
    margin-top: -10%;
}

form {
    width: 80%;
}

.form form input,
form textarea {
    width: 100%;
    padding: 15px;
    background: #131313;

}

form .submit {
    cursor: pointer;
}

.footer {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

.footer-text {
    font-size: 14px;
}

.top i {
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    background: #e63c3c;
}

@media (max-width:1480px) {
    .header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .footer {
        padding: 15px 3%;
    }

    .contact {
        padding: 110px 3% 60px;
    }
}

@media (max-width: 1140px) {
    .home-text h3 {
        font-size: 2.5rem;
    }

    .home {
        height: 87vh;
    }
}

@media (max-width : 920px) {
    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        order: 2;
    }

    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .contact {
        grid-template-columns: 1fr;
    }
}

@media (max-width : 840px) {
    #menu-icons {
        display: block;
    }

    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        transition: all .4s ease;
    }

    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .4s ease;
    }
}